#content5-2 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-article {
  color: #fff;
}
#content5-2 .mbr-article P {
  text-align: center;
}
#content5-2 .mbr-article H4 {
  text-align: center;
  color: #ffffff;
}
#content5-2 .mbr-article H3 {
  color: #ffffff;
  text-align: center;
}
#msg-box3-3 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3 .mbr-article P {
  color: #000000;
  text-align: center;
}
#msg-box3-4 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-4 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4 .mbr-article P {
  text-align: center;
  color: #ffffff;
}
#features1-5 P {
  text-align: center;
}
#msg-box1-9 .mbr-header .mbr-header__text {
  color: #fff;
  font-size: 23px;
}
#msg-box1-9 .mbr-article {
  color: #fff;
  text-align: left;
}
